{% extends "base.html.j2" %}

{% block content %}
    {% include "executive_summary.html.j2" %}
    {% include "brands_section.html.j2" %}
    {% include "taxonomy_section.html.j2" %}
    {% include "pricing_section.html.j2" %}
    {% include "market_section.html.j2" %}
    {% include "resources_section.html.j2" %}
{% endblock %}
